body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
    color: white;

}

.half-width {
    text-align: center;
    width: 50%;
    padding: 20%;
    color: white;
}

.donation-banner {
    background-image: url(images/donation7.jpg);
    background-repeat: no-repeat;
    background-position: top;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 60, 0), rgb(109, 18, 2));
    color: white;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5px;
}

.black-color {
    color: black;
}

.donate-area {
    text-align: center;
}

.donate-today {
    text-align: center;
    padding: 5%;
    margin-top: 20px;
}

.donate-plan {
    text-align: center;
    margin-top: 10%;
}

.flex-container {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
}

.flex-box {
    width: 150px;
    height: 150px;
    background-color: antiquewhite;
    font-size: 25px;
    text-align: center;
    line-height: 100px;
    border-radius: 10px;
    margin: 10px;
}

hr.one {
    border: none;
    height: 2px;
    width: 1000px;
    background: #dddddd;
}

h3 {
    text-align: center;
    margin-top: 40px;
}

.title2 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.section-two {
    margin-top: 0;
    padding: 100px;
    display: flex;
    justify-content: space-evenly;
}

.card1 {
    width: 250px;
    height: 250px;
    border: solid;
    padding: 50px;
    border-radius: 5px;
    background-color: rgb(225, 235, 232);
}

.food-icon {
    width: 50px;
}

.card2 {
    width: 250px;
    height: 250px;
    border: solid;
    padding: 50px;
    border-radius: 5px;
    background-color: rgb(244, 236, 238);
}

.card3 {
    width: 250px;
    height: 250px;
    border: solid;
    padding: 50px;
    border-radius: 5px;
    background-color: rgb(222, 210, 193);
}

.title3 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.my-update {
    text-align: center;
    margin-top: 10%;
}

.humble {
    color: red;
    font-weight: bolder;
    height: 150px;
    text-align: center;
    background-color: black;
}